<%- include('common/header.ejs') %>
<div class="container">
   <div class="boardListDatail-wrapper">
       <div class="boardListDatail-title">
        <p><%= data.subject %></p>
       </div>
       <div class="boardListDatail-item">
        <img src="<%= data.files %>" alt="후기에 첨부된 사진">
        <p>
            <%= data.content %>
        </p>
       </div>
   </div>
   
</div>


<%- include('common/footer.ejs') %>