<%- include('common/header.ejs') %>
<div class="container">
    <div class="title-box">
        <p>후기</p>
        <p></p>
        <p>review</p>
    </div>
    <div class="board-wrap">
        <div class="board-top">
            <p class="board-sum">총<span><%= data.length %></span>개의 게시물</p>
            <div class="board-writing-btn" onclick="location.href='boardWriting'">글쓰기</div>
        </div>
        <div class="board-conctent">
            <span>번호</span>
            <span id="board-title">제목</span>
        </div>
        <% for (let i = 0; i < data.length; i++ ) { %>
        <div class="board-list">
            <!-- 후기 넘버 -->
            <span class="board-list-num"><%= data[i].idx %></span>
            <!-- 후기 제목 -->
            <span class="boardDetail" data-idx="<%= data[i].idx %>"><%= data[i].subject %></span>
        </div>
        <% } %>
    </div>
</div>
<script src="/js/board.js"></script>
<%- include('common/footer.ejs') %>