<%- include('common/header.ejs') %>
<link rel="stylesheet" href="/css/datail.css">

<section class="detail-wrapper">
    <!-- img -->
    <div class="detail-img">
        <img src="https://port-9000-bigfootadmin-4fju66f2clmzth6gt.sel5.cloudtype.app/data/detail/<%= detailData.detail_photo %>" alt="<%= detailData.detail_photo %>">
    </div>

    <!-- title -->
    <h1><%= detailData.name %></h1>
 
    <div class="datail-text">
           <!-- text1 -->
        <p><%= detailData.description %></p>
            <!-- text2 -->
        <p><%= detailData.description2 %></p>
    </div>

    <div class="detail-info-container">
        <div class="detail-info-item info-title">
            주소
        </div>
        <!-- address -->
        <div class="detail-info-item info-text">
            <%= detailData.address %>
        </div>
        <div class="detail-info-item info-title">
            영업시간
        </div>
        <!-- hour -->
        <% if(!detailData.operating_hours || detailData.operating_hours == '') { %>
            <div class="detail-info-item info-text">
                영업시간이 따로 없습니다.
            </div>
        <% } else { %>
            <div class="detail-info-item info-text">
                <%= detailData.operating_hours %>
            </div>
        <% } %>
        <div class="detail-info-item info-title">
            연락처
        </div>
        <!-- contact -->
        <% if(!detailData.contact || detailData.contact == '') { %>
            <div class="detail-info-item info-text">
                연락처가 존재하지 않습니다.
            </div>
        <% } else { %>
            <div class="detail-info-item info-text">
                <%= detailData.contact %>
            </div>
        <% } %>
        <div class="detail-info-item info-title">
            웹사이트
        </div>
        <!-- website -->
        <% if(!detailData.website || detailData.website == '') { %>
            <div class="detail-info-item info-text">
                사이트가 존재하지 않습니다.
            </div>
        <% } else { %>
            <div class="detail-info-item info-text">
                <%= detailData.website %>
            </div>
        <% } %>
    </div>
</section>

<script src="/js/detail.js"></script>

<%- include('common/footer.ejs') %>
</body>
</html>